

  <!-- Links -->
  <div class="card-container">
    <h1>p-table example</h1>
   
    <p-table #dt [value]="vermerke" [columns]="cols" sortMode="multiple" [globalFilterFields]="['id','rechtstraegerId', 'rechtstraegerName', 'beschreibung']">
        
        <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
            <div class="ui-helper-clearfix" style="text-align: left">
                <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
            </div>
        </ng-template>
<!--
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
  -->

        <ng-template pTemplate="header">
            <tr>
                <th [pSortableColumn]="'id'">id
                    <p-sortIcon [field]="'id'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'rechtstraegerId'">rechtstraegerId
                    <p-sortIcon [field]="'rechtstraegerId'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'rechtstraegerName'">rechtstraegerName
                    <p-sortIcon [field]="'rechtstraegerName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'beschreibung'">beschreibung
                    <p-sortIcon [field]="'beschreibung'"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-vermerk>
            <tr>
                <td>{{vermerk.id}}</td>
                <td>{{vermerk.rechtstraegerId}}</td>
                <td>{{vermerk.rechtstraegerName}}</td>
                <td>{{vermerk.beschreibung}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            Insgesamt wurden {{vermerke?.length}} Vermerke gefunden.
        </ng-template>
    </p-table>
   
 


 </div>